<h1><%= @book.title %></h1>

<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Price:</strong> $<%= @book.price %></p>
<p><strong>Stock:</strong> <%= @book.stock %></p>
<p><strong>Description:</strong> <%= @book.description %></p>

<%= link_to 'Back', books_path, class: 'btn btn-secondary' %>
